<div class="list-margin">
  <h1 style="padding-left: 20px;"><strong>Your selected appartment</strong></h1>
  <div class="display-index">
    <div class="card-trip p-4 ml-4 col-md-9">
      <%= cl_image_tag @flat.photo %>
      <div class="card-trip-infos">
        <div>
          <h2><%= @flat.title %></h2>
          <p><%= @flat.description %></p>
          <%= link_to "See Reviews", flat_reviews_path(@flat, @review), class: "btn ", id: "couple" %>
           <% @flat.average_rating.times do %>
          <i class="fas fa-star"></i>
          <% end %> <%if @flat.sum_rating == 0 %>
          <p><em>No ratings yet</em></p>
          <% else%> <%=  @flat.sum_rating  %>
          <% end  %>
          <br>
        </div>
        <h2 class="card-trip-pricing"><%= @flat.price_per_night %> €</h2>


      </div>

    <div>
      <% if @flat.user == current_user %>
        <span class="btn btn-book"><%= link_to "Edit this flat", edit_flat_path(@flat) %></span>
      <% end %>
    </div>





    </div>
    <div class="card-trip p-4 ml-4 col-md-3">
        <h1><strong> Booking your flat in <%= @flat.city %></strong></h1>
        <br>
        <%= render 'book-form', booking: @booking %>
    </div>

  </div>
</div>
