<div class="list-margin col-md-9">
  <ul class="list-unstyled">
    <h1><li>  <%= @flat.title %></li></h1>
    <br>
    <h2><li> <strong>Location:</strong> <%= @flat.address %>, <%= @flat.city %></li></h2>
    <h2><li>  <strong>Details:</strong> <%= @flat.description %></li></h2>
   <h2> <li>  <strong>Rate:</strong> <%= @flat.price_per_night %> EUR per night</li></h2>
    <li>  <%= cl_image_tag @flat.photo, width: 400, height: 300, crop: :fill %></li>
  </ul>
  <%= link_to "Delete this listing", flat_path(@flat), method: :delete, data: { confirm: 'Are you sure to delete your listing?' } %>
  <br>
  <%= link_to "Back to search results", root_path %>
  <br>
  <%= link_to "Book this flat", root_path %>
</div>

