 <body style="background-color: #F4F4F4, linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))">

  <div class="card-trip m-5">
    <%= cl_image_tag @flat.photo %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @flat.title %></h2>
        <p><%= @flat.description %></p>
        <br>
        <p><%= @stars_avg %> stars average </p>
      </div>
      <h2 class="card-trip-pricing"><%= @flat.price_per_night %> €</h2>
    </div>

    <div class="btn btn-success">
      <% if @flat.user == current_user %>
        <%= link_to "Edit this flat", edit_flat_path(@flat) %>
      <% else %>
        <%= link_to "Book this flat", new_flat_booking_path(@flat) %>
      <% end %>
    </div>
  </div>

  <div class="m-5 btn btn-primary" >
    <%= link_to "Back", flats_path %>
  </div>

</body>


