<div class="list-margin">
  <h1 style="padding-left: 20px;">Your selected appartment</h1>
  <div class="show-index">

    <div class="col-md-7">
      <div class="card-trip">
        <%= cl_image_tag @flat.photo %>
        <div class="card-trip-infos">
          <div>
            <h2><%= @flat.title %></h2>
            <p><%= @flat.description %></p>
            <%= link_to "See Reviews", flat_reviews_path(@flat, @review), class: "btn ", id: "couple" %>
            <% @flat.average_rating.times do %>
            <i class="fas fa-star"></i>
            <% end %> <%if @flat.sum_rating == 0 %>
            <p><em>No ratings yet</em></p>
            <% else%> <%=  @flat.sum_rating  %>
            <% end  %>
            <br>
          </div>
          <h2 class="card-trip-pricing"><%= @flat.price_per_night %> €</h2>
        </div>
        <div class="btn btn-book">
          <% if @flat.user == current_user %>
          <%= link_to "Edit this flat", edit_flat_path(@flat) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card-trip p-4 ml-4">
        <h3 style="text-align:center;">Book your flat in <%= @flat.city %></h3>
        <br>
        <%= render 'book-form', booking: @booking %>
      </div>
    </div>

  </div>
</div>
