<div class="container">
  <h1>Your Booking</h1>
    <p>Move-in date: <%= @booking.move_in_date %></p>
    <p>Move-out date: <%= @booking.move_out_date %></p>

  <div>
    <%= link_to "Delete Booking  |  ", flat_booking_path(@flat, @booking), method: :delete, data: { confirm: 'are you sure' } %>
    <%= link_to "See Reviews  |  ", flat_bookings_path(@flat, @booking) %>
    <%= link_to "Write a Review", new_flat_review_path(@flat, @booking) %>
  </div>

  <div>
      <%= link_to "Back", flat_path(@flat) %>
  </div>
</div>
