 <div class="row col-md-8">
  <% @flats.each do |flat| %>
  <div class="col-md-4">
    <%= link_to flat_path(flat) do  %>
    <div class="card-flat my-2">
      <%= cl_image_tag flat.photo %>
      <div class="card-flat-infos">
        <div id="card-rating">
          <p><%= flat.city.upcase %></p>
          <h2><%=  flat.title %> </h2>
          <% flat.average_rating.times do %>
          <i class="fas fa-star"></i>
          <% end %> <%if flat.sum_rating == 0 %>
          <p><em>No ratings yet</em></p>
          <% else%>
          <span class="rating"><%=  flat.sum_rating  %></s>
          <% end  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

</div>

