<div class="navbar navbar-expand-sm navbar-light" id="nav">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://i.ibb.co/SDkhdwm/slothquadrate.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link", id: "home-link" %>
      </li>
      <% if !user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_url, class: "nav-link", id: "login-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Profile", dashboard_path, class: "nav-link", id: "profile-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create Flat", new_flat_path, class: "nav-link", id: "create-link" %>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <%= image_tag "https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/011_avatar_anonymous_profile_privacy_hacker_mask_hoodie-512.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </li>
    </ul>
  </div>
</div>
