<div class="list-margin">

  <div class="dashboard">
    <% if @user.flats == []  %>
    <h4 style="text-align:left;">Become a host</h4>
    <p>Your place is a place to stay? Share your home with others.</p>
    <span id="button-red"><%= link_to "Become a host", new_flat_path %></span>
    <% else  %>

    <% if @user.flats.count == 1  %>
    <h4 style="text-align:left;">Your flat</h4>
    <% else %>
    <h4 style="text-align:left;">Your flats</h4>
    <% end %>

    <% @user.flats.each do |flat| %>
    <p><%= link_to flat.title, flat %>
    <%= link_to "🗑", flat_path(flat), method: :delete, data: { confirm: 'are you sure?'}  %></p>
    <% end %>

    <span id="button-red"><%= link_to "Add another home", new_flat_path %></span>
    <% end %>
    <br><br><br><br>

    <h4 style="text-align:left;"> Your next stay</h4>
    <p>Looks like you haven't planned any trip. Time to get some inspiration.</p>
    <span id="button-red"><%= link_to "Plan your next trip", index_path %></span>
    <br><br><br><br><br>
  </div>

</div>
